h3{
    margin-top: 1%;
}

input{
    width: 26%;
    margin-top: 1%;
    margin-right: 3%;
}

.container{
    position: relative;
}

.btn-show-all{
    position: absolute;
    top: 8px;
    left: 37%;
}