<div class="container">
    <form [formGroup]="form" (ngSubmit)="createOrEditUser(form.value)">
        <div class="container">
            <label for="firstname">firstname</label>
            <input type="text"
                    name="firstname"
                    class="form-control"
                    placeholder="enter your firstname here"
                    formControlName="firstname"
                    >
            <div *ngIf="form.get('firstname').touched && form.get('firstname').invalid" class="alert alert-danger">firstname is required</div>
            <label for="laststname">laststname</label>
            <input type="text"
                    name="laststname"
                    class="form-control"
                    placeholder="enter your laststname here"
                    formControlName="laststname"
            >
            <div *ngIf="form.get('laststname').touched && form.get('laststname').invalid" class="alert alert-danger">firstname is required</div>

            <label for="phonenumber">phonenumber</label>
            <input type="text"
            name="phonenumber"
            class="form-control"
            placeholder="enter your phonenumber here"
            formControlName="phonenumber"
            mask="+00 00 0000000000"
            >
            <div *ngIf="form.get('phonenumber').touched && form.get('phonenumber').invalid" class="alert alert-danger">Phone number should have minmum 10 characters</div>

            <div class="m-t-2pct d-flex justify-content-end">
                <button type=submit class="btn btn-success" [disabled]="form.invalid">ADD</button>
            </div>
        </div>
    </form>
</div>
